<h3>{{title}}</h3>

<p>
  Winter is coming...
</p>


 <div class="full-width-carousel about-carousel carousel carousel-slider center" data-indicators="true">
  <div class="caraousel-fixed-item center">
    {{!-- <a class="btn waves-effect white grey-text darken-text-2">Sign Up</a> --}}
  </div>
  <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
    <h2>Lorem ipsum dolor.</h2>
    <p class="white-text">Lorem ipsum dolor sitm.</p>
    <img src="/images/About-1.jpg">
  </div>
    <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
    <h2>FULL STACK DEVELOPER</h2>
    <p class="white-text">Victoria</p>
    <img src="/images/victoria.jpg">
  </div>
   <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
    <h2>FULL STACK DEVELOPER/GRAPHIC DESIGNER</h2>
    <p class="white-text">Brett</p>
    <img src="/images/brett.jpg">
  </div>
</div>
