{{title}}
<br>
<br>

<h3>What is this?</h3>
<div>
    <p>Travel junkies... </p>
    <ul>
        <li>1. Inspire</li>
        <li>2. Etc.</li>
        <li>3. Etc.</li>
    </ul>
    <p>So, Are you ready?</p>


  <!-- <textarea name="text" type="text" value="" placeholder="Add a comment..."></textarea>
  <button type="button" name="upload-comment-btn">Post</button>


<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <br>
  <br>
  <p>Upload and share an image.</p>
  <input type="file" name="upload" value="">
  <input type="submit">
</form> -->
