{{title}}
<br>
<br>
<br>
<br>
<br>
<div class="upload-image">
<label class="file">
  <textarea name="text" type="text" value="" placeholder="Add a comment..."></textarea>
  <button type="button" name="upload-comment-btn">Post</button>
        <input type="file" id="inputFileToLoad" onchange="readURL(this)" >
        <input type="hidden" id="#" name="image" value="">
        <span class="file-custom"></span><button type="button" class="btn btn-primary btn-xs">Upload</button>
</label>
</div>
