{{title}}
<br>
<br>


  <textarea name="text" type="text" value="" placeholder="Add a comment..."></textarea>
  <button type="button" name="upload-comment-btn">Post</button>


<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <br>
  <br>
  <p>Upload and share an image.</p>
  <input type="file" name="upload" value="">
  <input type="submit">
</form>
