{{title}}
<br>
<br>

<h4>What's this site all about?</h4>
<div>
    <h5>For all you travel junkies out there, we’ve compiled a Game of Thrones
       location guide to help inspire your next trip. </h5>
  <h6>The show shoots largely on-location, primarily in Northern Ireland and
    Iceland for scenes in the North, and Croatia and Spain for the South. </h6>
  <h6>With such an impressive roster of medieval cities and stunning islands on
    their shoot list, it should come as no surprise that a GOT location tour around
    Europe would make for an ideal vacation. </h5>
    <h6>Feel free to sign-in share an image or post a comment to help insire others.</h6>
    <p>So, Are you ready?</p>


  <!-- <textarea name="text" type="text" value="" placeholder="Add a comment..."></textarea>
  <button type="button" name="upload-comment-btn">Post</button>


<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <br>
  <br>
  <p>Upload and share an image.</p>
  <input type="file" name="upload" value="">
  <input type="submit">
</form> -->
