{{title}}

<div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/slide-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 style="color: #ffab00">If you do not have an account</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Just fill in your name and email and create a user name</h5>
        </div>
      </li>
      <li>
        <img src="/images/slider-2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="color: #ffab00">If you have an account</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Just log in with your email and password.</h5>
        </div>
      </li>
      <li>
        <img src="/images/slider-3.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="color: #ffab00">Add some pictures</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Just upload your pics from the areas of the world of game of thrones</h5>
        </div>
      </li>
      <li>
        <img src="/images/slider-4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 style="color: #ffab00">Look at the locations</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Then look at the locations on the map and to see the pictures from there.</h5>
        </div>
      </li>
      {{!-- <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li> --}}
    </ul>
  </div>
