<div>
<h3>Welcome to GOT Destinations</h3>
<h6>Create a new user account.</h6>
<form action="/thisIsMyPostRoute" method="post">
  <input type="text" name="username" value="" placeholder="Enter your username">
  <input type="text" name="email" value="" placeholder="Enter your email address">
  <input type="password" name="password_hash" placeholder="Enter password" required><br>
   <input type="submit" value="Submit"></input>
   <button onclick="window.location='/login';">Returning User</button>
</form>

</div>
