<div>
<h3>Welcome to.....</h3>
<h3>Game of Thrones Globe Trott</h3>
<h6>Create a new user account.</h6>
<br>
<form action="/users/register" method="post">
  <input type="text" name="first_name" value="" placeholder="Enter your first name">
  <input type="text" name="email" value="" placeholder="Enter your email address">
  <input type="password" name="password" placeholder="Enter password" required><br>
   <input type="submit" value="Submit"></input>
   <br>
   <br>
   <p>Already have an account?</p>
   <button onclick="window.location='/users/login';">Return User</button>
</form>
<br>
<br>

</div>
