Thank you {{first_name}}. You are now logged in. Your emails is {{email}}.

<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <input type="text" name="title" value="" placeholder="Placeholder">
  <input type="file" name="upload" value="">
  <input type="submit">
</form>
