Thank you {{first_name}}. You are now logged in. Your email is: {{email}}.

<h4>Update your profile.</h4>
<br>

<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <!-- <input type="text" name="title" value="" placeholder="Placeholder"> -->
  <br>
  <br>
  <p>Upload and share an image.</p>
  <input type="file" name="upload" value="">
  <input type="submit">
</form>
