Thank you {{name}}.  You are now logged in.

<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <input type="text" name="title" value="" placeholder="Placeholder">
  <input type="file" name="upload" value="">
  <input type="submit">
</form>
