<img src="/images/Game_of_Thrones_title_card.jpg" alt="" />
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="Home.html">Home</a></li>
        <li><a href="about">About</a></li>
        <!-- <li><a href="comment">Post a Comment</a></li> -->
        <li><a href="contact">Contact Us</a></li>
        <li><a href="addPost">Add a Post</a></li>
        <li><a href="/users/register">Log In/Register</a></li>
      </ul>
    </div>
  </nav>


<h1>{{title}}</h1>

<h4>For all you travel junkies out there, we’ve compiled a Game of Thrones
  travel guide to help inspire your next trip. </h4>
<br>
<br>
<h5>From King’s Landing to Winterfell, take a tour of Westeros in real life.
  Visit a few of the key filming locations for the epic series that turns these
  real locales into a sweeping fantasy landscape.</h5>
<p>Welcome to King's Landing!...Onward!</p>
<ul>
  <li><a href="/dubrovnik">1. Dubrovnik, Croatia</a></li>
  <li><a href="/reykjavik">2. Reykjavík, Iceland</a></li>
<li><a href="/osuna">3. Plaza de Toros, Osuna, Spain</a></li>
<li><a href="/edinburgh">4. Doune Castle, Edinburgh, Scotland</a></li>
<li><a href="/northireland">5. The Dark Hedges, Northern Ireland</a></li>
</ul>
