<div class="item">
  <img src="/images/game-map-1 2.jpg" alt="" />
</div>



<div class="locations">
  <h5>Game of Thrones filming locations:</h5>
<ul>
<li><a href="/croatia">Croatia</a></li>
<li><a href="/iceland">Iceland</a></li>
<li><a href="/spain">Spain</a></li>
<li><a href="/malta">Malta</a></li>
<li><a href="/ireland">Ireland</a></li>
</ul>
</div>
