<div class="item">
  <img src="/images/goft-map-2.png" alt="" />
</div>

<!-- <div class="instructions">
            <h3><strong>Game of Thrones-</strong></h3>
              <h3>Globe Trott</h3>
            <p>Game of Thrones Destinations	</p>

<p>
  What is this?
  Travel junkies...
  1. Inspire
  2. Etc.
  3. Etc.
  So, Are you ready?
</p>


            <br>
            <button id="start_button">Onward!</button>
</div> -->




<!-- <ul>
  <li><a href="/dubrovnik">1. Dubrovnik, Croatia</a></li>
  <li><a href="/reykjavik">2. Reykjavík, Iceland</a></li>
<li><a href="/osuna">3. Plaza de Toros, Osuna, Spain</a></li>
<li><a href="/edinburgh">4. Doune Castle, Edinburgh, Scotland</a></li>
<li><a href="/northireland">5. The Dark Hedges, Northern Ireland</a></li>
</ul> -->
