<img src="/images/Game_of_Thrones_title_card.jpg" alt="" />
<p><a href="/users">Log In</a></p>
<h1>{{title}}</h1>

<h4>For all you travel junkies out there, we’ve compiled a Game of Thrones
  travel guide to help inspire your next trip. </h4>
<br>
<br>
<h5>From King’s Landing to Winterfell, take a tour of Westeros in real life.
  Visit a few of the key filming locations for the epic series that turns these
  real locales into a sweeping fantasy landscape.</h5>
<p>Welcome to King's Landing!...Onward!</p>
<ul>
  <li><a href="/dubrovnik">1. Dubrovnik, Croatia</a></li>
  <li><a href="/reykijvik">2. Reykijvik, Iceland</a></li>
<li><a href="#">3. Plaza de Toros, Osuna, Spain</a></li>
<li><a href="#">4. Magheramorne Quarry, County Antrim, Northern Ireland</a></li>
<li><a href="#">5. Mourne Mountains, Northern Ireland</a></li>
<li><a href="#">6. Doune Castle, Scotland</a></li>
<li><a href="#">7. The Dark Hedges, Northern Ireland</a></li>
</ul>
