<img src="/images/goft-banner-2.png" alt="" />
<nav>
    <div class="nav-wrapper">
      <img src="/images/goft-logo.png" "brand-logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="Home.html">Home</a></li>
        <li><a href="about">About</a></li>
        <!-- <li><a href="comment">Post a Comment</a></li> -->
        <li><a href="contact">Contact Us</a></li>
        <li><a href="addPost">Add a Post</a></li>
        <li><a href="/users/register">Log In/Register</a></li>
      </ul>
    </div>
  </nav>
  <img src="/images/goft-map-2.png" alt="" />



<ul>
  <li><a href="/dubrovnik">1. Dubrovnik, Croatia</a></li>
  <li><a href="/reykjavik">2. Reykjavík, Iceland</a></li>
<li><a href="/osuna">3. Plaza de Toros, Osuna, Spain</a></li>
<li><a href="/edinburgh">4. Doune Castle, Edinburgh, Scotland</a></li>
<li><a href="/northireland">5. The Dark Hedges, Northern Ireland</a></li>
</ul>
