<img src="/images/goft-banner-2.png" alt="" />

<nav>
    <div class="nav-wrapper">
      <img src="/images/goft-logo.png" "brand-logo">
      <!-- <ul class="clearfix">
        <li><a class="howTo" href="#">What ?</a></li>
      </ul> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="Home.html">Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="addPost">Add a Post</a></li>
        <li><a href="/users/register">Log In/Register</a></li>
      </ul>
    </div>
  </nav>

  <!-- <div class="overlay" id="modal">
        <div class="content">
            <h3>What is this?</h3>
            <div>
                <p>Travel junkies... </p>
                <ul>
                    <li>1. Inspire</li>
                    <li>2. Etc.</li>
                    <li>3. Etc.</li>
                </ul>
                <p>So, Are you ready?</p>
                <a class="close" href="#">Got It!</a>
            </div>
        </div>
    </div> -->

  <img src="/images/goft-map-2.png" alt="" />



<ul>
  <li><a href="/dubrovnik">1. Dubrovnik, Croatia</a></li>
  <li><a href="/reykjavik">2. Reykjavík, Iceland</a></li>
<li><a href="/osuna">3. Plaza de Toros, Osuna, Spain</a></li>
<li><a href="/edinburgh">4. Doune Castle, Edinburgh, Scotland</a></li>
<li><a href="/northireland">5. The Dark Hedges, Northern Ireland</a></li>
</ul>
