<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <meta charset="utf-8">
  <title>Game of Thrones | Globe Trott</title>
  <meta name="description" content="">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  </head>
  <body>
    <img src="/images/goft-banner-2.png" alt="" />
    <nav class="nav-wrapper">
            <img src="/images/goft-logo.png" class="brand-logo-center">

          <!-- <ul class="clearfix">
            <li><a class="howTo" href="#">What ?</a></li>
          </ul> -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- <ul = right hide-on-med-and-down> -->
            <li><a href="/">Home</a></li>
            <li><a href="addPost">WHAT?</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="/users/register">Log In/Register</a></li>
          </ul>
        </div>
      </nav>
      <!-- <div class="instructions">
      	   				<h3><strong>Game of Thrones-</strong></h3>
                    <h3>Globe Trott</h3>
      	   				<p>Game of Thrones Destinations	</p>

      <p>
        What is this?
        Travel junkies...
        1. Inspire
        2. Etc.
        3. Etc.
        So, Are you ready?
      </p>


                  <br>
                  <button id="start_button">Onward!</button>
      </div> -->

      <br>
      <br>


    {{{body}}}
    <br>
    <br>
    <a href="/" title="Back to the Home page"><b>HOME</b></a> | <a href="#" title="To the top of this page"><b>BACK TO TOP</b></a>
    <footer id="page-footer">
            © 2016 Copyright WDI Brett and Victoria
        </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
