{{title}}

<div class='login'>
  <br>
    <h5>Welcome back!</h5>
    <h6>Please enter your email address and password to log back in.</h6>
  <br>
    <form action="/users/login" method="post">
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" class="login_btn" value="Submit"></input>
    </form>

</div>
