<div>

    <h3>Hello again!</h3>

    <form action="/users/login" method="post">
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" value="Submit"></input>
    </form>

</div>
