<h1>{{title}}</h1>
<p>
  <a href="/index">Home</a>
</p>
<p>
  <img src="/images/kingsLanding.jpg" alt="" />
</p>
<div container="comment-container">
  <div id="db-comment-id" data-comment-id="#">

  </div>

<div class="comment-text-block">

<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
    <br>
  <input type="hidden" name="id" value="">
  <textarea name="text" type="text" value="" placeholder="Add a comment..."></textarea>
  <br>
  <p>Upload and share an image.</p>
  <input type="file" name="upload" value="">
  <input type="Submit">
</form>
</div>
</div>
<br>
<br>
<div class="comment-block">
  <textarea name="comment-author"value="">Lovely hotel.</textarea>
  <img src="/images/fish.gif" 30x30 alt="" />
  <a href="#">grumpyfish</a><br>
  <span class="comment-time">October 30, 2016</span></a>
  <!-- <svg class="svg-icon favorite" src="" height="14" width="12">
  <svg class="svg-icon icon-vote-comment-down" type="img" height="14" width="12" viewBox="0 1 0 0">
  <a href="#" onclick="tweet(event);return false;" class="icon-twitter" title="Share in Twitter"></a> -->
</div>
