<form action="/users/thisIsMyPostRoute" method="post">
  <input type="text" name="username" value="" placeholder="Enter your username">
  <input type="email" name="email" value="" placeholder="Enter your email address">
  <button>submit</button>
</form>
